<mat-toolbar color="primary">
	<span [routerLink]="''">no0days</span>
	<span class="spacer"></span>
	<span *ngIf="!isLogged">
		<button mat-icon-button class="example-icon" [routerLink]="'login'" aria-label="Log in">
			<mat-icon>login</mat-icon>
		</button>
		<button mat-icon-button class="example-icon" [routerLink]="'register'" aria-label="Register">
			<mat-icon>app_registration</mat-icon>
		</button>
	</span>
	<span *ngIf="isLogged">
		{{ userName }}
		<button mat-icon-button class="example-icon" (click)="authService.logOut()" aria-label="Log in">
			<mat-icon>exit_to_app</mat-icon>
		</button>
	</span>
</mat-toolbar>
